#u370-4,#u1286-2,#u1286-3,#u1289-2,#u1289-3,#u1291-2,#u1291-3,#u293-4,#u367-4,#u1325-4,#u1343-2,#u1343-3,#u1337-2,#u1337-3,#u1340-2,#u1340-3,#u1381-4,#u1410-4
{
	font-family: lato-n7, sans-serif;
}

#u1397-4
{
	font-family: lato-n7, sans-serif;
}

#u1416-4
{
	font-family: lato-n7, sans-serif;
}

#u1417-4
{
	font-family: lato-n7, sans-serif;
}

#u1444-4,#u1478-4,#u1494-4,#u1482-4,#u1491-4,#u1485-4,#u1487-4,#u1509-4,#u1531-4,#u1532-4,#u1553-4,#u1587-4,#u1591-4,#u1594-4,#u1599-4,#u1653-4,#u1702-4,#u1814-4
{
	font-family: lato-n7, sans-serif;
}

#u1905-4
{
	font-family: lato-n3, sans-serif;
}

